%p
  = link_to list_item.title, list_item.uri, target: '_blank'
  >
  = link_to 'Show', list_item
  = link_to 'Edit', edit_document_path(list_item)
  = link_to 'Destroy', list_item, :confirm => 'Are you sure?', :method => :delete
